        .header{
            width:100%;
            height:60px;
            background-color:#E6E6FA;
        }
        .body {
            margin:0px;
            padding:0px;
            background-color: lightblue;

        }
        .logo{
            color:#0a0311;
            font-size:25px;
            font-family:verdana;
            text-align:left;
            margin-top:0px;
            float:left;
            margin:0px;
            line-height:50px;
            padding-left:9px;
        }
        .main {
            background-color: rgb(57, 104, 100);
        }
        .channel-container{
            background-color: rgb(117, 173, 230);
            max-width: 510px;
            max-height: 310px;
        }
        .img {
            padding-left: 30px;
            margin-left: 10px;
        }


