
        .header{
            width:100%;
            height:100px;
            /* background-color: #303f9f; */
            background-color: #0d47a1;
            color: rgb(247, 243, 238);
            text-align: justify;
        }
        #searchButton, #searchInput
        {
            float: right;
            display: block;
            /* background-color: #303f9f; */
            background-color: #0d47a1;
            size: 5px;
        }
        #movieSearchForm
        {
            text-align: right;
            width: 33%;
            margin: auto;
        }
        .movieSearchBar {
            max-width: 100%;
            /* background-color: #303f9f; */
            background-color: #0d47a1;
            height: 70px;
            text-align: center;
            margin-left: autogit;
            
        }
        foodSearchButton {
            size: 5px;
        }
        .nav-wrapper {
            background-color: #bbdefb;
          background-color: #90caf9;
          color: #90caf9;
            height: 25%;
        }
         .fa {
             size: 20%;
         }
         .fa-search {
             display: none;
    }
        logo {
        size: 50px;
    }
        .fa-ticket-alt {
            size: 50%;

    }
        i {
            size: 50%;
        }
         body {
            margin:0px;
            padding:0px;
            background-color: #0d47a1;
            position: relative;
        }
         h1 {
           
            color:#fbfafd;
            font-size:50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align:left;
            margin-top:0px;
            float:left;
            margin:0px;
            line-height:50px;
            padding-left:9px;
        }
        form {
            color: #64b5f6;
            float: inline-end ;line-height:52px;
            padding-right:14px;
        }
        main {
            background-color: #64b5f6;
        
        }

        h2 {
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            font-style: strong;
        }
        h4 {
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        h5 {
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .input {
            color: black;
        }
    
        /* .channelContainer{
            background-color: #303f9f;
            width: 220px;
            height: 500px;
            padding-top: 5%;
            padding-left: 40%;
            padding-right: 50%;
            margin-right: 50px;
            align-content: right;
            border: black;
        } */
        /* .movieSearchBar {
            size: 100px;
            color:  rgb(235, 219, 219);
            margin-right: auto;

        } */
         /* .channelSection {

         } */
         /* .channelAside  {
             justify-content: flex-end;
            color: cadetblue;
            width: 40px;
            height: 80px;
         } */
        .stream-channel-one {
            width: 220px;
            height: 120px; 
             
            
        }
        .stream-channel-two {
            width: 220px;
            height: 120px;  
            
        }
        .stream-channel-three {
            width: 220px;
            height: 120px;  
            float: left;       
        }
        .stream-channel-four {
            width: 220px;
            height: 120px;  
            margin-right: 50px;
            float: left;
            
        }
        /* .stream-channel-five {
            width: 170px;
            height: 60px;  
            
        }
        .stream-channel-six {
            width: 170px;
            height: 60px;  
            
        } */
      
         .card {
             background-color: #bbdefb;
            justify-content: flex-end;
            width:  100%;
            height: 300%;   
        } 

       .card-image {
           width: 100%;
           height: 170%;   
       }
       .card-one {
           width: 170px;
           height: 100px;
       }
       .card-two {
          width: 170px;
          height: 100px;
       }
       .card-three {
        width: 170px;
        height: 100px;
       }
       .card-four {
        width: 170px;
        height: 100px;
      align-content: left;
    }
       /* .card-five {
        width: 170px;
        height: 90px;
       }
       .card-six {
        width: 170px;
        height: 90px;
        position: sticky;
       } */
       .card1 {
           width: 250px;
           color: #000;
      }

      .container {
          background-color: #0d47a1;
          position: center;

      }


.page-footer {
    background-color: #0d47a1;
            /* background-color: #303f9f;     */
}

