        .header{
            width:100%;
            height:60px;
            background-color:#E6E6FA;
        }
        body{
            margin:0px;
            padding:0px;
        }
        .logo{
            color:#0a0311;
            font-size:25px;
            font-family:verdana;
            text-align:left;
            margin-top:0px;
            float:left;
            margin:0px;
            line-height:50px;
            padding-left:9px;
        }
        .body {
            background-color: crimson;
        }
        .img {
            padding-left: 30px;
            margin-left: 10px;
        }


